[Desktop Entry]
Name=Atilgan
Comment=A modern file manager
Exec=atilgan
Icon=io.github.mrsametburgazoglu.atilgan
Terminal=false
Type=Application
Categories=Utility;FileManager;
Keywords=file;manager;explorer;
StartupNotify=true
